{{!-- 账号弹框 --}}
<div class="mask hide" id="mask"></div>
<div class="account-pop hide" id="account-pop">
  <p>账号登录</p>
  <div id="sign-in-content">
    <input type="text" id="sign-in-username" placeholder="用户名">
    <input type="password" id="sign-in-password" placeholder="密码">
    <button id="sign-in">登录</button>
  </div>
  <div id="sign-up-content" class="hide">
    <input type="text" id="sign-up-username" placeholder="用户名">
    <input type="password" id="sign-up-password" placeholder="密码">
    <input type="password" id="sign-up-confirm" placeholder="确认密码">
    <button id="sign-up">注册</button>
  </div>
  <a href="#" id="show-sign-up">立即注册</a>
  <a href="#" class="hide" id="show-sign-in">登录</a>
</div>