<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../styles/main.css"> 
</head>
<body>
  {{!-- 导航头部 --}}
  {{> header }}

  {{!-- 登录框 --}}
  {{> account }} 
  
  <script src="../scripts/main.js"></script>
</body>
</html>